/* body is a flex box divided into 3 sections header, highlight & inspiration */
body{
    display: flex;
    flex:1;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

/* Header is divided into 2 flex boxes */

.header{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1f2937;
    padding: 10px 100px 50px 100px;

}

/* header top box contains 2 flex items, the flex item is a flex box */

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-top-right a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
/* header top left is a flex box that contains the logo and logo text */
.header-top-left{

    display: flex;
    gap: 10px;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
    align-items: center;
}

.header-top-left img{
    height: 43.35px;
    max-width: 50px;
}
/* header bot contains 2 flex items, the left item is a flex box  */
.header-bot{
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;

}

.header-bot h1{
font-size: 48px;
color: #f9faf8;
font-weight: bolder;
margin: 0;

}

.header-bot p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.header-bot > img{
    max-width: 400px;
    height: 267.05px;
    border-radius: 4px;
}

.header-bot button{

    color: white;
    background-color: #3882f6;
    border-radius: 4px;
    padding: 4px 10px;
    appearance: none;
    border: 0px solid;
    font-size: 20px;
    width: 110px;
}

/* header bot left is a flex item that contains all the text on the left and the button */
.header-bot-left{
display: flex;
flex-direction: column;
width: 600px;
gap: 15px;

}
/* Header section done */


/* highlight is divided into 2 flex boxes, headline & images*/

.highlight{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
}

.highlight .headline{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
/* images is a flex box containing 4 story classes */

.highlight .images{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    /* width: 600px; */
}
/* each story class is a flex box containing the image and the text under it STILL NEEDS ALIGNMENT */

.highlight .story{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
}

.highlight img{

    width: auto;
    height: 200px;
    border: 2px solid #4c05ef;
    border-radius: 4px;
}
